.footer-container {
    background-color: #2d522d; /* Dark green background */
    padding: 20px 0;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-text {
    margin: 0;
    font-size: 1rem;
  }
  