.offers-container {
    padding: 40px;
    text-align: center;
    background-color: #f5f8f2;
  }
  
  .offers-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .offers-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 30px; /* Adjusted gap for better spacing */
    padding: 20px;
    justify-items: center; /* Centers items horizontally */
  }
  
  .offer-card {
    background-color: #e9f4e4;
    padding: 30px; /* Increased padding for better spacing */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: left;
    max-width: 400px; /* Added to limit width */
    width: 100%;
  }
  
  .offer-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  
  .offer-card p {
    font-size: 1.1em;
    color: #333;
    margin: 0;
  }
  