body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f4dd;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f3db;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .subtitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
    color: #7a7a7a;
  }
  
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"], 
  input[type="email"], 
  input[type="tel"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ensure full width in form groups */
  }
  
  input[type="submit"], 
  .other-amount-btn {
    grid-column: span 2;
    padding: 12px;
    background-color: #61b15a;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover, 
  .other-amount-btn:hover {
    background-color: #4f8e47;
  }
  
  .form-section {
    text-align: center; /* Center text within this section */
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .impact-image {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .donation-options {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  